{% extends "layout.html" %} {% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class="mb-3">
        {{form.item.label(class="form-label text-white")}}
        {{form.item(class="form-control form-control-lg")}}
    </div>
    <div class="mb-3">
        {{form.quantity.label(class="form-label text-white")}}
        {{form.quantity(class="form-control form-control-lg")}}
    </div>
    <div class="mb-3">{{form.submit(class="btn btn-outline-dark")}}</div>
</form>

{% endblock content %}