{% extends "layout.html" %} {% block content %}
<div class="header col-12 d-flex align-items-center gap-3">
  {%if current_user.is_authenticated and current_user.admin == False%}
  <div
    class="headerMain d-flex justify-content-evenly align-items-center col-8 col-sm-5 col-lg-3 col-xl-4"
  >
    <div class="col-5"><img src="user" /></div>
    <div class="Hbutton col-5">
      <a href="#Ссылка на личный кабинет"> Личный кабинет</a>
    </div>
  </div>

  <div class="col-5 justify-content-evenly">
    <div class="col-4">Заказы</div>
    <div class="col-4"></div>
  </div>
  {%endif%} {%if not current_user.is_authenticated%}
  <div
    class="headerMain d-flex justify-content-evenly align-items-center col-8 col-sm-5 col-lg-3 col-xl-4"
  >
    <div class="Hbutton"><a href="{{url_for('users.login')}}">Войти</a></div>
    <div class="Hbutton"><a href="{{url_for('users.register')}}">Регистрация</a></div>
  </div>
  {%endif%}
</div>
{% endblock content %}
