{% extends "layout.html" %} {% block content %}
<div class="row mb-3">
  <h2 class="col-12 col-sm-8 col-md-7 col-lg-8">
    Заказы {{ user.nickname }}({{ orders.total }})
  </h2>
  {% if current_user.admin == True %}
  <div class="col">
    <a
      class="btn btn-secondary btn-sm mt-1 mb-1"
      href="{{ url_for('users.update_user', nickname=user.nickname) }}"
      >Update</a
    >
    <button
      type="button"
      class="btn btn-danger btn-sm m-1"
      data-bs-toggle="modal"
      data-bs-target="#deleteModal"
    >
      Delete
    </button>
  </div>
  {% endif %}
</div>
{%for order in orders%}
<div class="containter pb-3 mb-2 border-top">
  <div class="row">#{{order.id}} {{order.date_ordered.strftime("%-d %b %Y")}}</div>
</div>
{%endfor%}
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete User?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <form action="" method="POST">
          {{form.hidden_tag()}} {{form.submit(class="btn btn-danger")}}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}