@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{margin: 0px; padding: 0px;}
html, body{height: 100%;}
a, li{text-decoration: none; list-style: none;}
body{
font-family: monospace;
background-image: url(../images/background.jpg);
background-size: cover;
background-repeat: repeat;
background-position: center;
animation: pulse 300s linear infinite both;}
.row{margin: 0%;}

/* ^main classes^*/
/* <Animations> */

@keyframes wow{
    0%  {transform: scale(0);}
    100%{transform: scale(1);}
}
@keyframes pulse{
    0%  {background-position: 25000px center;}
}

/* </Animations> */
/* <main> */

.container-fluid{padding: 0%;}
.container-fluid .row:nth-child(1){position: absolute; left: 0px; top:0px}
.cont2{height: 100%; background-color: rgb(21, 22, 28);}
.buttonMain{padding: 30px;}
.LOGER{
position: relative;
color: #fff;
width: 100%;
font-size: xx-large;
border-radius: 20px;}
.LOGER:hover::after{
content: '';
position: absolute;
animation: wow 500ms linear both;
top: 50px;
left: 0px;
width: 100%;
height: 2px;
background-color: #fff;}
.logo a h1{
font-family: 'Oswald'; 
color: #fff;
font-size: 60px;}
.LOGER:hover{
transition: 500ms;
color: rgb(255, 255, 255, 0.8);}
.logo a h1:hover{
transition: 500ms;
color: cadetblue;}
.panda{margin-top: 15%; height: 100%;}
.panda .button{margin: 10% 0%;}
.textBoard{
text-align: center;
border-radius: 20px;
background-color: black;}
.leaderboard{position: relative;height: 100%;margin: 50px 0px;border-right: 2px #fff solid;border-bottom: 1px #fff solid;box-shadow: 12px 12px 12px 99999px rgb(0 0 0 /10%);}
.Orc{width: 40%;}
.Orc img{width: 100%;}
h1,h2,p{font-family: 'Oswald'; color: #fff;}
h1{font-size: 60px;}
h2{font-size: 40px;}
p{font-size: 40px;}
.button a{
padding: 10px 65px;
color: #fff;
border: 2px solid white;}
.button a:hover{
transition: 500ms;
color: black;
border: 2px solid black;
background-color: rgb(255, 255, 255, 0.3);}
tr td:nth-child(1), td:nth-child(2){text-align: center;}
tr td:nth-child(3):hover::before{
content: '';
position: absolute;
animation: wow 200ms linear both;
top: 5px;
left: 0px;
width: 3px;
height: 20px;
background-color: #fff;
}
tr:nth-child(1) td:nth-child(3)::before{content: none;}
tr td:nth-child(3){padding-left: 20px !important; position: relative;}
td{
font-family: monospace;
font-size: larger;
color: #fff;}
tr:nth-child(1) td{color: rgb(189, 189, 189); font-size: x-large !important; padding: 0%;}
.login{display: none;}
.inpuT, .Submit{
margin: 0 auto;
height: 50px;
padding: 6px 16px;
line-height: 1.42857143;
width: 80%;
font-size: 20px;
font-family: 'Oswald';
border-radius: 7px;}
.Submit, .inpuT:nth-child(1){margin-top: 50px;}
.Submit{
color: #fff;
background-color: #d89b4e;
border-bottom: 4px solid #a56617;}
.Submit:hover{background-color: #e1b176; transition: 500ms;}
.leaderboardio{display: block;}
.BatyaOn{display: block;}
.Off{display: none !important;}
.On{display: block !important;}
.back{
position: absolute; 
left: 20px; top: 20px;
font-size: 30px; 
color: #fff;}
.off{display: block;}



.cont{position: relative;padding: 0px;background-color: rgb(21, 22, 28);height: 100%;}
.header{
position: relative;
background-color: #212529;}
.header:after{
content: '';
position: absolute;
width: 100%;
height: 10px;
bottom: 0px;
background-color: rgb(132, 115, 77);}
.headerFirst{
background-color: #fff; 
height: 110px;
z-index: 1;
}
.Hbutton a{
color: black;
font-size: x-large;
font-family: 'Oswald';}
.Hbutton a:hover{color: rgb(132, 115, 77); transition: 500ms;}
.headerSec a:hover::after{
content: '';
position: absolute;
animation: wow 100ms linear both;
top: 60px;
left: 0px;
width: 100%;
height: 2px;
background-color: #fff;}
.headerSec a{position: relative; font-size: 20px; color: #fff;}
.userImg img{border-radius: 50%; border: 3px solid black}



/* </main> */
/* <footer> */

.footer{
position: fixed;
width: 100vw;
left: 0;
bottom: 0;}
.txt{
text-align: center;
font-size: small;
background-color: rgb(21, 22, 28);}
.txt p{font-size: medium; margin: 0px;}

/* </footer> */
/* <media> */

@media (max-width:1200px){
.main:after{position: absolute; width: 100%; height: 50%; top: unset; bottom: 0px;}
.txt{bottom: -1000px;}
.cont{height:100%;}
}

@media (max-width:992px){
.header{justify-content: center !important; flex-wrap: wrap}
.panda .button{padding-bottom: 50px;}
.headerFirst{margin: 0 auto;}
}
@media (max-width:768px){
.cont2{margin-top: 0px;}
.header{justify-content: start !important;flex-wrap: wrap;}
.headerSec{padding-bottom: 50px; flex-wrap: wrap;}
.leaderboard{width: 100%;}}
@media (max-width:600px){
.headerSec{flex-direction: column; gap: 10px;}
.headerSec{flex-direction: row;}
.header:after{bottom: -11px;}
}
@media (max-width:580px){.headerFirst{margin: 0 auto;}}
@media (max-width:425px){
.panda{margin-top: 40%;}
}    

/* </media> */